@import 'nav.css';
@import 'tips.css';
@import 'locations.css';


  .fishList {
      display: flex;
      flex-flow: wrap; 
      justify-content: flex-start;    
      padding-top: 3em;
  }

  .fish {
      margin: 12px;
      box-shadow: -5px 5px 14px 0px;
      width: 17em;
      height: 16em;
      background-color: #6bd1d4;
      border-radius: 7px;
  }

  .fish__header {
    font-family: 'Trade Winds', sans-serif;
    text-align: center;
  }

  .fish__image {
      width: 100%;
      height: 195px;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
  }

  body {
    background-image: linear-gradient(45deg, rgb(0, 0, 0), #001ce6f0);
  }

  .details--button {
    padding-left: 1px;
    top: -2px;
    position: relative;
    left: 5px;
  }

  .fish__name {
    font-family: 'Trade Winds', sans-serif;
    display: flex;
    justify-content: center;
    font-size: 1.5em;
}
  
  