@import 'nav.css';
@import 'tips.css';



.container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

  a:link, a:visited {
    color: rgb(175, 175, 175);
    text-decoration: none;
  }

  a:hover {
      color: rgb(255, 255, 255);
  }

  .bordered {
      border: 1px;
  }

  .fishList {
      padding-top: 3em;
  }