@import 'nav.css';
@import 'tips.css';





  a:link, a:visited {
    color: rgb(175, 175, 175);
    text-decoration: none;
  }

  a:hover {
      color: rgb(255, 255, 255);
  }

  .bordered {
      border: 1px;
  }

  .fishList {
      display: flex;
      flex-flow: wrap; 
      justify-content: flex-start;    
      padding-top: 3em;
  }

  .fish {
      margin: 12px;
      box-shadow: -3px 4px 5px 1px;
      width: 17em;
  }

  .fish__header {
      padding-left: 10px;
  }

  .fish__image {
      width: 100%;
      height: 55%;
  }

  body {
    background-image: linear-gradient(45deg, rgb(0, 0, 0), #001ce6f0);
  }