.nav {
    display: inline-flex;
    position: fixed;
    top: 0;
    left: 0;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    border: 1px solid rgb(61, 61, 61);;
    width: 100%;
    justify-content: left;
    background-color: rgb(61, 61, 61);
    margin-bottom: 5px;

  }

  .nav__list {
      width: auto;
      flex-basis: 10%;
      display: inline-flex;
      justify-content: space-evenly;
      font-family: 'Roboto', sans-serif;
      background-color: rgb(61, 61, 61);
      margin: 5px;
  }